body {
  text-align: center;

  }
  
  html {
    min-height: 100%;

  }
  
  h1 {
    color: black;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5); ;
  }

  h2 {
    font-size: medium;
  }
  
  .sun-emoji {
    color: yellow;
  }
  
  .wind-humidity {
    margin: 0 auto;
    margin-top: 10px;
    color: black;
    text-align: center;
    padding: 20px 20px;
  }
  
  .card-body {
    background-image: linear-gradient(
      -225deg,
      #2cd8d5 0%,
      #6b8dd6 48%,
      #8e37d7 100%
    );
    border-radius: 20px;
    border: none;
  }
  .card {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    max-width: 100%;
  }

  .bible-verse-card{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

  #current-dateTime {
    font-size: large;
    
  }

  #search-city-btn {
      background: #6ED0E2;
      border-radius: 5px;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      box-shadow:     0 1px 5px rgba(0,0,0,0.5);
      width: 10%;
  }

  #search-city-btn:hover {
    background: #BDC2FB;  
  }
  
  #hourly-forecast {
      margin-top: 20px;
  }
  
  .form-control {
      border-radius: 5px;
      border:none;
      width: 40%;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
  }

  .container-wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}

.container-fluid {
  padding: 16px 16px;
  max-width: 600x;
  max-height: 900px;

}